<!DOCTYPE html>
<html>
<head>
	<title>Check In</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Check In Information</h1>

		<body bgcolor="lightgrey">

			<form>

				<div>

			  		Employee ID:<br> {{ emp_id }} <br><br>

			  		Name:<br> {{ name }} <br><br>

			  		Contact:<br> {{ contact }} <br><br>

			  		Office Team:<br> {{ officeteam }} <br><br>

			  		Branch Location:<br> {{ BranchLocation }} <br><br>

                    Date:<br> {{ date }} <br><br>

                    Check IN:<br> {{ checkIn }} <br><br>


			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://3.134.115.108:80/getemp">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
