<!DOCTYPE html>
<html lang="en" xmlns="">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="https://www.w3schools.com/lib/w3.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: ;
}

th:hover {
    cursor: pointer;
}

.clear {
    clear: both;
}

</style>

<script type="text/javascript">
  function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("myTable");

    /* Declaring array variable */
    var rows =[];

      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;

    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6
            ]
        );

        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });

        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Export.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
}
  </script>

<head>
    <meta charset="UTF-8">
    <title>View Summary</title>
    <center>
        <font color="black" size="4" style="font-family: avenir">

            <h1 style="color: Black"><u>Employee Summary</u></h1>

             <div style="width:auto;">
                <div style="float: left; ">
                    <form action="/showaddemp">
                        <button type="submit"
                                style="cursor:pointer; background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> <i class="fa fa-plus"></i> Add New Entry
                        </button>
                    </form>
                     <form action="/getemp">
                        <button type="submit"
                                style="cursor:pointer; background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> <i class="fa fa-plus"></i> Search Employee
                        </button>
                    </form>
                    <form action="/showsummary">
                        <button type="submit"
                                style="cursor:pointer; background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> <i class="fa fa-plus"></i> View Staff Summary
                        </button>
                        </form>
                    <form action="/addattendance">
                        <button type="submit"
                                style="cursor:pointer; background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> <i class="fa fa-plus"></i> Check IN
                        </button>
                    </form>
                    <form action="/viewAttendance">
                        <button type="submit"
                                style="cursor:pointer; background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> <i class="fa fa-plus"></i> View Check In
                        </button>
                    </form>
                    <form action="/getcheckin">
                        <button type="submit"
                                style="cursor:pointer; background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> <i class="fa fa-plus"></i> Search Check IN
                        </button>
                    </form>

                    <form action="/addleave">
                        <button type="submit"
                                style="cursor:pointer; background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> <i class="fa fa-plus"></i> Add Leave
                        </button>
                    </form>

                    <form action="/getleave">
                        <button type="submit"
                                style="cursor:pointer; background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> <i class="fa fa-plus"></i> Search Leave
                        </button>
                    </form>

                    <form action="/viewleave">
                        <button type="submit"
                                style="cursor:pointer; background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> <i class="fa fa-plus"></i> View Leave Summary
                        </button>
                    </form>

                </div>
                <div style="float: right; ">
                    <button id="btnExport" style="cursor:pointer;background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;" onclick="exportData();">Export</button>

                </div>
            </div>

    <div class="clear"></div>

            <br/>


<body style="background-image: url('/static/bg4.jpg');background-size: 100%;" >
<form action="/viewSummary" autocomplete="on" method="POST" enctype="multipart/form-data">
    <table id="myTable">
        <tr>
            <th style="cursor:default;">Employee ID</th>
            <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(2)')">Name<i class="fa fa-sort"></i></th>
            <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(3)')">Contact<i class="fa fa-sort"></i></th>
            <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(4)')">Team<i class="fa fa-sort"></i></th>
            <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(5)')">Location<i class="fa fa-sort"></i></th>
            <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(6)')">Certificate<i class="fa fa-sort"></i></th>
        </tr>

        {% for item in value %}
        <tr class="item">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
        </tr>
        {% endfor %}

    </table>


</form>

<br>

</body>

</font>
</center>
</head>
<body>

</body>
</html>
